section.featured-container{
	max-width: @wrapper;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    height: 45vw;
    @media (max-width: 600px) { 
    	height:65vw;
    	padding:0; 
    }
    
}
