section.map-section{
	position:relative;
	& .map-screen{
		height:100%;
		width:100vw;
		position:absolute;
		z-index:8;
		display:none;
		background: linear-gradient(rgba(4,55,97,.8) 5%, rgba(4,55,97,0.5), rgba(4,55,97,0.3), rgba(4,55,97,0.1), rgba(4,55,97,0));
	}
	
	#map {
        height: 90vh;  /* The height is 400 pixels */
        width: 100vw;  /* The width is the width of the web page */
    }
}