section.photo-grid-display{
	margin:0 20px 0 10px;

	@media (max-width: 600px), (max-width: 815px) and (orientation : landscape) {margin: 0;}
	& .grid-wrapper{
		display:flex;
		height:725px;
		flex-direction: column;
		flex-wrap: wrap;
		max-width:@wrapper;
		overflow:scroll;
		overflow-y: hidden;
		margin:auto;
		@media (max-width: 600px) {
			display: block;
			height:initial;
		}
		@media (max-width: 815px) and (orientation : landscape) {
			display: flex;
    		flex-direction: column;
    		height: 200px;
		}

		& .image-gallery-image{
			height: 100px;
			background-size: cover;
			margin:10px;
			background-position: center;
			width: 433px;
			position:relative;
			text-align: center;
			@media (max-width: 815px) and (orientation : landscape){
				width:50vw;
			}
			@media (max-width: 600px), (max-width: 815px) and (orientation : landscape){
				margin:0 !important;
				height:100% !important;
			}
			@media (max-width: 600px) {
				margin: 0 !important;
			    height: 250px !important;
			    width: 100%;
			}
			& img{
				object-fit: cover;
				width: 100%;
    			height: 100%;
			}
			box-shadow: 0px 0px 1px #888888;
			&.left-column{
				margin-left:1px;
			}
			& .image-screen{
				position:absolute;
				top:0;
				width:100%;
				height:100%;
				background-color: @color-7;
    			opacity: 0;
    			@media (max-width: 600px), (max-width: 815px) and (orientation : landscape) {opacity:0 !important;}
			}
			.content-container{
				width:100%;
					// display:none;
					opacity:0;
					position: absolute;
				    z-index: 2;
				    color:white;
				    top: 25%;
				    pointer-events: none;
				    text-shadow: 0px 0px 30px @color-7;
				    @media (max-width: 815px) and (orientation : landscape) { 
				    	opacity:1 !important;
				    	opacity: 1 !important;
					    // right: 20px;
					    bottom: 30px;
					    top: inherit; 
					}
				    @media (max-width: 600px) {
				    	opacity:1 !important;
				    	bottom: 0;
    					top: initial;
				    }
				& .individual-photography-header{
					// display:none;
					// position: absolute;
				 //    z-index: 2;
				    color:white;
				    font-size: 25px !important;
				    // top: 40%;
				    pointer-events: none;
				    
				    text-shadow: 0px 0px 20px #000000;
				    @media (max-width: 815px) and (orientation : landscape) { display:none; }
				    @media (max-width: 600px) {
				    	text-align: right;
   						padding-right: 25px;
    					font-size: 17px !important;
				    }    
				}
				& .view-photo{
					color: white;
				    /* width: 100%; */
				    width: 100px;
				    background-color: initial;
				    pointer-events: none;
				    margin: 0 auto;
				    border: 3px solid @cta-color;
				    // border: none;
				    font-size:20px;
				    // box-shadow: 0px 0px 1px @color-7;
				    text-shadow: 0px 0px 30px @color-7;
				    @media (max-width: 815px) and (orientation : landscape) { 
				    	border: none;
					    float: right;
					    width: 120px;
					    text-align: left;
				    }
				    @media (max-width: 600px) {
				    	display:none;
				    }
				    & span{
				    	color:@cta-color;
				    }
				}
			}
		}
	}
}