div.regions-3-section{
	

	.max-width();
	.display-flex();
	position:relative;
	// width:100%;
	padding:0 2%;
	
	margin:auto;
	height:250px;
	&.one-column{
		width:36%;
	}
	&.two-column{
		width:68%;
	}			
	&.three-column{
		width:100%;
	}

}