div.regions-3-section{
	.max-width();
	.display-flex();
	position:relative;
	width:100%;
	padding:0 2%;
	margin:auto;
	& .region-widget-wrapper{
		position:relative;
		height:250px;
		text-align:center;
		background-color: blue;
		margin:0 3% 0 0;
		width: 32%;
		background-size: cover;
		
		a.link-screen{
			z-index: 1;
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    left: 0;
		    top:0;
		    background-color:@color-7;
		    opacity:0.4;
		    &.active-fade-in{
				opacity:0;
				z-index: 4;
			}
		}
		&.last{
			margin-right:0;
		}

		& h3.tile-title{
			margin-top:70px;
			z-index:3;
			position:relative;
			color:@color-6;
			&.active-title{
				opacity:0.25;
			}
		}

		& .date{
			position: absolute;
		    color: black;
		    font-size: 20px;
		    line-height: 20px;
		    top: 0;
		    left: 0;
		    z-index:3;
		    background-color: lightgrey;
		    padding: 12px;
		    opacity: .7;
		}
	}
}