article.continent-group{
	display:flex;
	@media (max-width: 600px) { 
		flex-direction: column !important; 
		padding: 0 0%;}
	.max-width();
	width:100vw;
	padding:0 2%;
	&.flip{
		flex-direction: row-reverse;
	}	
	& .continent-group-content{
		flex:2;
		.continent-group-content-container{
			padding: 50px 3vw 30px;
			& h2{
				text-align:center;
				padding-right: 2%;
			}
			& .destination-content{
				max-height: 165px;
	    		overflow: hidden;
	    		padding-right: 2%;
			}
		}	
	}
	& .continent-group-slider-container{
		flex:3;
		position:relative;
		width:1px;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		overflow-x: hidden;
		overflow-y: overlay;
		height:400px;
		@media (max-width: 600px) { width: 100vw; }
		& ::-webkit-scrollbar { 
		    display: none; 
		    height:0px;
		}
			& .continent-group-container{
				height: 100%;
				// text-align:center;
				// overflow: scroll;
				width: 57vw;
				max-width:770px;
				overflow: hidden;
				overflow-y: hidden;
				// white-space: nowrap;
				position:relative;
				@media (max-width: 600px) { 
					width: 96vw;
					margin:0 auto;
				 }
			}	

		// }
	}	

}