article.featured-image-slider-container,
section.featured-image-slider-container{
	&.homepage{
		height: 100%;
		width:90%;
		margin:0 auto;
		@media (max-width: 600px), (max-width: 815px) and (orientation : landscape) { width:100%; }
	}
	&.featured-image-hero{
		margin-top: 60px;
		height:100% !important;
		@media (max-width: 600px), (max-width: 815px) and (orientation : landscape) { margin-top: 0px; }
		& .slider-image-wrapper{
			height:100% !important;
			& img{
				object-fit: cover;
				height:100% !important;
			}
		}
		& .photo-location-wrapper{
			bottom:90px !important;
			@media (max-width: 600px) { display:none; }
		}
	}
	position:relative;
	.slider-arrow{
		color:black;
		font-size:90px;
		font-weight:800;
		position:absolute;
		top:45%;
		&.left-arrow{
			left:15vw;
		}
		&.right-arrow{
			right:15vw;
		}
	}
	div.slider-image-wrapper,
	article.slider-image-wrapper{
		display:none;
		width:100%;
		// height:90vh;
		height:45vw;
		background-size: cover;
		position: absolute;
		@media (max-width: 600px) { height:100%; }
		& .photo-location-wrapper{
			position: absolute;
			bottom: 40px;
			right: 10%;
			padding-bottom: 10px;
			@media (max-width: 600px) { display:none; }
			@media (max-width: 815px) and (orientation : landscape) { 
				// bottom:30px !important;
				bottom:11vh !important;
			}
			& .photo-location{
				z-index: 40;
				color: white;
				line-height: 30px;
				font-size: 30px !important;
				text-shadow: 0px 0px 30px #000000;
				@media (max-width: 815px) and (orientation : landscape) { font-size:20px !important;}
			}
			& .photo-subtext{
				    z-index: 40;
				    color: white;
				    font-size: 20px;
				    line-height:25px;
				    text-shadow: 0px 0px 30px #000;
				    float:right;
			}
		}
		img{
			width:100%;
			margin:0;
			object-fit:cover;
			position:absolute;
			z-index:-1;
			height: 45vw;
			box-shadow: 0px 0px 2px #000000;
			@media (max-width: 600px) { 
				height:100%;
				object-fit:cover; 
			}
		}
		&.active-img.first-image{
				display:block;
		}
		& .photo-location{
			
		}
	}
	
	.slider-tracking-container{
		color:#ffffff;
		line-height:30px;
		font-size:35px;
		position:absolute;
		top:50px;
		right:10%;
		z-index:5;
		@media (max-width: 650px), (max-width: 815px) and (orientation : landscape) { display:none; }
		&.photo-header{
			top:40px;
			z-index: 6;
		}
		// z-index:4;
    	.slider-dot{
    		text-shadow: 0px 0px 1px @color-7;
    		line-height:30px;
    		font-size:30px;
    	}
		.active-dot{
			color:@color-7;
			content: "\&#x25A1;";
			text-shadow: 0px 0px 1px @cta-color;
		}
	}
}