header.photography{
	width:100vw;
	height:100vh;
	overflow: hidden;
	& div.hero-short-screen{
		height: 10vh;
	    width: 100%;
	    position: absolute;
	    z-index: 2;
	    // background: linear-gradient( rgba(4,55,97,0.8), rgba(4,55,97,0));
	    // background: linear-gradient(#043761, rgba(4,55,97,0.8), rgba(4,55,97,0.6), rgba(4,55,97,0.4), rgba(4,55,97,0.2), rgba(4,55,97,0));
	    background: linear-gradient(#D9B44A, rgba(217,180,74,0.95), rgba(217,180,74,0.85), rgba(217,180,74,0.7), rgba(217,180,74,0.4), rgba(217,180,74,0.1), rgba(217,180,74,0))
	}
}