footer{
	background-color:grey;
	section.main-footer{
		max-width: 1140px;
	    width: 94%;
	    margin: auto;
		div{
			float:right;
			padding:60px 0 0;

			 & img{
				width:50px;
			}

		}
		
	}
}