footer{
	background-color:grey;
	margin-top:50px;
	section.main-footer{
		max-width: @wrapper;
	    width: 94%;
	    height:150px;
	    margin: auto;
	    .footer-left{
	    	// float: left;
	    	position:absolute;
	    	right:0;
	    	bottom: 20px;
	    	& h3{
	    		font-size: 12px;
	    		& .footer-link{
	    			text-decoration:underline;
	    		}
	    	}
	    }
		.footer-right{
			float:right;
			padding:30px 0 0;
			#github-logo{
				// display:none;
			}
			#facebook-logo{
				// display:none;
			}
			#instagram-logo{
				// display:none;
			}

			 & img{
				width:40px;
			}

		}
		
	}
}