div.main-menu-class{
	position:relative;
	ul.menu{
		.display-flex();
		.flex-align-content-space-between();
		position:absolute;
		z-index:10;
		width:60vw; 
		margin:100px 20vw;
		& li{
			text-align:center;
			.flex(1, 1, 1);
		}
	}

}